
<div class="footer">
       <div class="head">
            <h2>Arts</h2>
            <h2>Science</h2>
            <h2>Engineering</h2>
            <h2>Online Learning</h2>
            <h2>Penn Global</h2>
            <h2>HealthCare</h2>
       </div>

       <div class="body">
             <h1>KIE</h1>
             <h2>"Genius without education is like silver in the mines"</h2>
             <h5>OFFICES & SERVICES  | CALANDER  |  CAREERS</h5>
             <h5>Contact Us | Maps</h5>
       </div>
</div>